

*{
	margin:0px;
	padding:0px;
}
body {
    font-size: 16px;
    /* overflow-y: scroll; */
/*    background-image: url(imgs/fondo.jpg);*/

}

h2 {
	text-align: center;
	margin-bottom: 20px;
	color:rgb(178, 52, 22);
}


/*registrar usuario*/
form {
	margin:auto;
	width: 50%;
	max-width: 500px; /*ancho máximo*/
	background-color: #f3e9e3;
	padding: 30px;
    border:1px solid rgba(0,0,0,0.2);
    
}

.circle {
    height: 32px;
    width: 32px;
    margin-top: 25px;
    margin-right: -26px;
}

nav i.material-icons {
    margin-top: 10px;
}
    /*pagina login*/

/* scroll */

::-webkit-scrollbar {
    width: 15px;
    background: rgba(178, 53, 22, 0.404);
}

::-webkit-scrollbar-button {
    background-color: rgba(178, 53, 22, 0.829);
}
/* header */

.col.s12{
height: 40px !important;
}
    
.contenedor-cabecera{
    width: 100%;
    background: rgb(178, 52, 22);
    color: white;
    /*display: block;*/
    /* position: relative; */
    padding: 1em;

}
.lupa {
    font-family: Courier Prime Code;
    background: rgb(178, 52, 22);
    display: inline-block;
    margin-right: 2em;
}
/* mural */

.collapsible-header i {
    width: 2.3rem;
    font-size: 2rem;
    display: inline-block;
    text-align: center;
    margin-right: 1rem;
    padding-top: 1rem;
    
}
.collapsible-header {
    background-color: #f3e9e3;
   
}
.collapsible-header:hover {
    background: rgb(178, 52, 22);
    color:white;
}
.muro {
    margin-bottom: 80px;
    margin-top: 0;
}

/*footer*/
footer {
    width: 100%;
    font-family: Courier Prime Code;
    position: fixed;
    bottom: 0;
    height: 80px;
    {
.menu{
    font-size:2em; 
    color: #fff;
}
.contenedor-menu {
    width: 100%;
    background: rgb(178, 52, 22);
    
    padding-top: 1px;
    bottom: 20px;
    display: block;
    /* position: relative; */
    padding: 1em;
}
.contenedor-menu > div{
    text-align: center;
    display: inline-block;
    width: 18%;
    
}
   
.contenedor-menu > div:hover {
    color:black;
   }
.menu:hover{
    font-size:2.4 em; 
    color:black; 
   }
/**********USUARIO*****/

.container{
   
    
    margin:auto;
	width: 50%;
	max-width: 500px; /*ancho máximo*/
	background-color: #f3e9e3;
	padding: 30px;
    border:1px solid rgba(0,0,0,0.2);
    box-shadow: 1px 1px 3px grey;
}
a{
    color:  rgb(178, 52, 22);
    text-decoration: none;
}

 .mensaje,.vive, .remitente,.descripcion{
    
    display: block;
    width: 50%;
    padding: 10px;
	width: 100%; 
    margin:30px 0 20px 0 ;
    
 }
.mensaje,.descripcion,.vive
 {
     border-bottom:1px solid rgba(0,0,0,0.2);
}

 .fotoremitente>img{
     width: 80px;
     height: 80px;
     border-radius: 50px;
     background-color: lightgrey;
     border:1px solid rgba(0,0,0,0.2);
     box-shadow: 5px 5px 5px grey;
     
     
 }
 .nombre_remitente{
     color: grey;
     font-weight: bold;
 }
 .mensaje>div{
    display: inline-block;
    width: 30%;
    text-align: center;
    
}
.vive>i{
    color: grey;

}
 .remitente>div{
     display: inline-block;
 }

 /******************PERFIL DE USUARIO*********************/



.img-responsive {
    max-width: 100%;
    height: auto;
}

    




input {
	display: block;
	padding: 10px;
	width: 70%; /*para que ocupe el ancho del formulario*/
	margin:30px 0;
	font-size: 20px;
}
input[type="checkbox"] {
    width: auto;
    height: auto;
    margin: 0;
    display: inline-block;
}
.editar{
    padding-top: 20px;
}

button {
	background: linear-gradient(#ffda63, #ffb940);
	border:0;
	color:brown;
	cursor: pointer;
	border-radius: 20px;
    margin-bottom: 0;
    width: 200px;
    max-width: 100%;
}

.sexo{
  width: 10%;
  display: inline-block;
}

.generosmusicales{
    display: inline-block;
    width: 10%;
    max-width: 100%;
    min-width: 30px;
}

.formulariotexto{
    max-width: 100%;
    height: auto;
}
/****************PAGINA DE LOGIN**********************/





input {
	display: block;
	padding: 10px;
	width: 100%; /*para que ocupe el ancho del formulario*/
	margin:30px 0;
	font-size: 20px;
}

input[type="submit"] {
	background: linear-gradient(#ffda63, #ffb940);
	border:0;
	color:brown;
	cursor: pointer;
	border-radius: 20px;
	margin-bottom: 0;
}

/************************MENSAJERIA***********************************/

.icono{
    right: 20px;
}

.avatar{
    background: grey;

}
.collection .collection-item:hover {
    background: grey;
}

/**************************REGISTRAR USUARIOS****************************/



input {
	display: block;
	padding: 10px;
	width: 100%; /*para que ocupe el ancho del formulario*/
	margin:30px 0;
	font-size: 20px;
}

input[type="submit"] {
	background: rgb(178, 52, 22);
	color:white;
	border:0;
	cursor: pointer;
	border-radius: 20px;
	margin-bottom: 0;
}

/**************************LISTA USUARIOS****************************/
#tabla img{
    width: 50px;
}
#tabla li {
    padding: 12px;
    
}

/**********************BUSCAR USUARIO****************************/
.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
  }
  input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
  }
  input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
  }
  input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
  }
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 10%;
    left: 0;
    right: 0;
  }
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #d4d4d4;
  }
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: dodgerblue;
  }
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
  }
  
/**************************Editar perfil****************************/
#foto img{
	width: 300px;
	height: 300px;
	border: 1px solid #000;
	margin: 10px 5px 0 0;
  }
  

/* header media query */
@media only screen and (max-width: 992px){
nav 
    .brand-logo {
        left: 1em;
        /* -webkit-transform: translateX(-50%); */
        transform: none;
    }
}
