*
{
	margin:0px;
	padding:0px;
}
body {
	font-size: 16px;
}


/* header */
nav {
    background: rgb(178, 52, 22);
    height: 100px;
    padding: auto;
    
}
.lupa {
    font-family: Courier Prime Code;
    background: rgb(178, 52, 22);
    display: inline-block;
    float: right;
    margin-right: 2em;
}


/* mural */

.collapsible-header i {
    width: 2.3rem;
    font-size: 2rem;
    display: inline-block;
    text-align: center;
    margin-right: 1rem;
    padding-top: 1rem;
    
}
.collapsible-header {
    background-color: #f3e9e3;
   
}
.collapsible-header:hover {
    background: rgb(178, 52, 22);
    color:white;
}
.muro {
    margin-bottom: 80px;
    margin-top: 0;
}

/*footer*/
footer {
    width: 100%;
	font-family: Courier Prime Code;
    position: fixed;
    bottom: 0;
}
.menu{
    font-size:2em; 
    color: #fff;
}
.contenedor-menu {
    width: 100%;
    background-color:rgb(178, 52, 22);
    
    padding-top: 1px;
    bottom: 20px;
    display: block;
    /* position: relative; */
    padding: 1em;
}
.contenedor-menu > div{
    text-align: center;
    display: inline-block;
    width: 18%;
    
}
   
.contenedor-menu > div:hover {
    
    color:black;
    
    

   }
.menu:hover{
    font-size:2.4 em; 
    color:black; 
   }
/**********USUARIO*****/

.container{
    margin:auto;
	width: 80%;
	max-width: 500px; /*ancho máximo*/
    box-shadow: 10px 10px 5px grey;

	padding: 30px;
	border:1px solid rgba(0,0,0,0.2);
}
a{
    color: #FF894C;
    text-decoration: none;
}



 .mensaje,.vive, .remitente,.descripcion{
    
    display: block;
    width: 50%;
    padding: 10px;
	width: 100%; 
    margin:30px 0 20px 0 ;
    
 }
.mensaje,.descripcion,.vive
 {
     border-bottom:1px solid rgba(0,0,0,0.2);
}

 .fotoremitente>img{
     width: 80px;
     height: 80px;
     border-radius: 50px;
     background-color: lightgrey;
     border:1px solid rgba(0,0,0,0.2);
     box-shadow: 5px 5px 5px grey;
     
     
 }
 .nombre_remitente{
     color: grey;
     font-weight: bold;
 }
 .mensaje>div{
    display: inline-block;
    width: 30%;
    text-align: center;
    
}
.vive>i{
    color: grey;

}
 .remitente>div{
     display: inline-block;
 }


/* header media query */
@media only screen and (max-width: 992px){
nav 
    .brand-logo {
        left: 1em;
        /* -webkit-transform: translateX(-50%); */
        transform: none;
    }
}
